body {
    font-family: 'Apple SD Gothic Neo';
    font-size: 18px;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

#main_text {
    padding-left: 50px;
    padding-right: 50px;
}